# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv/
.DS_Store

# Environments
.env

# Image
output/
source/**/*.png
source/**/*.jpg
source/**/*.jpeg
source/**/*.webp

# Logs
logs/
prompts/
